.header {
	background-color: red;
	font-size: 50px;
	word-spacing: 5px;
	color: white;
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.subhead {
	text-align: center;
	font-weight: bold;
}
.container {
	text-align: left;
}
.date {
	margin-top: 10px;
}
.daily-briefing {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}
h2 {
	text-align: left;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}
h3 {
	text-align: left;
	color: red;
	margin-bottom: 5px;
}
h4 {
	color: red;
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 30px;
}
h5 {
	color: red;
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
}
li {
	margin-top: 10px;
}
.date {
	color: red;
	font-weight: bold;
}
p {
	margin-top: 5px;
}
.ad {
	margin-top: 10px;
}
.footer {
	background-color: black;
	color: white;
	margin-top: 15px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
}
@media (max-width: 2000px) {
	.show-desktop {
		display: block;
	}
	.show-tablet {
		display: none;
	}
	.show-mobile {
		display: none;
	}
}
@media (max-width: 1000px) {
	.show-desktop {
		display: none;
	}
	.show-tablet {
		display: block;
	}
	.show-mobile {
		display: none;
	}
	.header {
		background-color: black;
		color: red;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	h1 {
		font-size: 40px;
	}
	h4 {
		font-size: 25px;
	}
	.daily-briefing {
		font-size: 15px;
	}
}
@media (max-width: 600px) {
	.show-desktop {
		display: none;
	}
	.show-tablet {
		display: none;
	}
	.show-mobile {
		display: block;
	}
	.header {
		background-color: white;
		color: black;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.subhead {
		background-color: red;
		font-size: 12px;
	}
	h1 {
		font-size: 30px;
	}
	h4 {
		font-size: 20px;
	}
	.daily-briefing {
		font-size: 12px;
	}
}